@tailwind base;

@tailwind components;

html {
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
    @apply text-gray-700;
}
 p, ul li, ol li, blockquote {
    @apply mb-5 font-light text-gray-700 text-lg leading-relaxed;
 }
 h1, h2, h3, h4, h5 {
     @apply mb-3 font-bold text-gray-800 leading-tight;
     font-family: 'Lato', 'Helvetica Neue', sans-serif;
 }
 h1 {
     @apply text-5xl;
 }
 h2 {
     @apply text-4xl;
 }
 h3 {
    @apply text-3xl;
}
h4 {
    @apply text-2xl;
}
h5 {
    @apply text-xl;
}

a:hover {
    text-decoration: none;
}

ol {
    list-style-type: decimal;
    @apply pl-6 mb-3;
}

ul {
    list-style-type: disc;
    @apply pl-6 mb-3;
}

ol li, ul li {
    @apply pl-2 mb-2;
}

a {
  @apply text-blue-900;
}

.aligncenter {
    @apply text-center;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.aligncenter img, img.aligncenter {
    @apply block m-auto text-center w-full mb-4;
}

figcaption {
    @apply text-gray-500 text-sm mb-6;
}

.wp-block-image {
    @apply mb-4;
}

.post-subtitle {
    @apply text-2xl text-gray-600 mb-4;
}

.single-post .entry-media {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 30px 60px -10px, rgba(0, 0, 0, 0.22) 0px 18px 36px -18px;
}

.menu-search {
    position: relative;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    width: 50px;
    transition: all 200ms;
}

.menu-search.show-search {
    visibility: visible;
    z-index: 2;
    opacity: 1;
    width: 200px;
}

.comment-content p {
    @apply text-sm;
}

.comment-body p {
    @apply text-sm;
}

.site-content blockquote {
    @apply font-serif font-light pl-4 italic text-gray-600;
}

pre br {
    @apply hidden;
}

pre p {
    @apply mb-0 text-gray-100;
}


@media (min-width: 1280px) {

    .archive-page .entry-meta, .blog-page .entry-meta {
        @apply text-center;
    }

    .archive-page .author-avatar, .blog-page .author-avatar {
        clear: both;
        @apply w-full;
    }

    .archive-page .author-avatar img, .blog-page .author-avatar img {
        margin: 0 auto;
    }

}

@tailwind utilities;
